body{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  align-content:space-around;
  background-color: skyblue;

}

#banner{
  display: flex;
  font-size: 28px;
  color: violet;
  font-family: helvetica;
}

/*main{
  display:inline-flex;
  height:300px;
  width:300px;
}*/
.pics{
display:inline-flex;
justify-content: space-between;
}

.pics img{
  height:300px;
  width:300px;
  margin:20px;
}

#divOne{
  display:inline-flex;
  height:300px;
  width:300px;
}
#divTwo{
  display:inline-flex;
  height:300px;
  width:300px;
}
#divThree{
  display:inline-flex;
  height:300px;
  width:300px;
}

.buttonDiv{
  visibility: hidden;
}
.info{
  display: flex;
  font-family: helvetica;
  margin-top:30px;
}
.canvasChart{
margin:0 auto;
width:550px;
height:550px;
}
